<%= stylesheet_link_tag "login"%>

<!DOCTYPE html>
<html>
  <body>
   	<div id="main-container" class="container-fluid">
      <div class="col-xs-8 vertical-center">
   			<%= render "devise/shared/links" %></btn>
      </div>
    </div>
  </body>
  
</html>
