<!DOCTYPE html>
<html>
  <body>
    <div id="main-container" class="container-fluid">
      <div class="row text-center">
        <div class="col-xs-8 col-xs-offset-2">
          <%= yield %>
        </div>
      </div>
      <div class="row">
      	<div class="col-xs-8 col-xs-offset-2"; id="chart-container"></div>
      </div>
    </div>
    
  </body>
  
</html>
