<%= stylesheet_link_tag "application"%>
<!DOCTYPE html>
<html>
  <body>
    <div id="main-container" class="container-fluid">
      <div class="row text-center">
        <div class="col-xs-8 col-xs-offset-2";>
          <%= yield %>
        </div>
      </div>
      <div class="row vertical-align">
      	<div class="col-xs-8 col-xs-offset-2"; id="chart-container";></div>
      </div>
      <div class="row top-buffer">
      </div>
        

<!--
      <div class="row">
          <div class="col-xs-6 col-xs-offset-2">
              <div class="progress">
                  <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar"aria-valuenow="60" aria-                              valuemin="0" aria-valuemax="100" style="width:80%">
                     Goal of Burn(7000)
                  </div>
              </div>
          </div>

          <div class="col-xs-4">
              <button type="button" class="btn btn-primary">Enter</button>
          </div>
       </div>
-->
        
      <div class="row">
      	<div class="col-xs-6 col-xs-offset-2">
            <div class="progress">
                <div class="progress">
                  <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:60%">
                       Calories In(5000)
                  </div>
                  
                  <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width:10%">
                    Calories Burn (6000)
                  </div>
                </div>
            </div>
        </div>
          
        <div class="col-xs-4">
                    <button type="button" class="btn btn-primary btn-xs">Enter Calories</button>
        </div>
       </div>
<!--
-->
      

          
      <div class="row">
          <div class="col-xs-6 col-xs-offset-2">
              <div class="progress">
                  <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                    Difference(1000)
                  </div>
              </div>
          </div>
          
          <div class="col-xs-2">
            
          </div>
      </div>
        
      <div class="row">
          <div class="col-xs-4 col-xs-offset-4">
              <button type="button" class="btn btn-warning btn-block">Log out</button>
          </div>
          
          <div class="col-xs-4">
              
          </div>
      </div>
                    
      </div>
    </div>
    
  </body>
  
</html>